<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7d232d43-4103-4040-b4aa-f04bd49ce179/resourceGroups/Dictafoule/providers/Microsoft.Web/sites/ff-prod-api-dictafoule</ResourceId>
    <ResourceGroup>Dictafoule</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ff-prod-api-dictafoule.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ff-prod-api-dictafoule.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ff-prod-api-dictafoule</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ff-prod-api-dictafoule</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DictaFoule.Common.DAL.Entities, DictaFoule.Common" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureDictaFoule" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=ffproddictafoule;AccountKey=dfAILxZIF7DL1OoNVCufGSpDcaW9ji59xglXeU9xv9oi3SgK8Zlpdb+zcvVsnJo2MUPr5QPmrsLyZk/LJ6dGNQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureDictaFoule_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=ffproddictafoule;AccountKey=dfAILxZIF7DL1OoNVCufGSpDcaW9ji59xglXeU9xv9oi3SgK8Zlpdb+zcvVsnJo2MUPr5QPmrsLyZk/LJ6dGNQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureDictaFoule-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
  </ItemGroup>
</Project>