<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AzureDictaFoule" connectionString="DefaultEndpointsProtocol=https;AccountName=ffproddictafoule;AccountKey=dfAILxZIF7DL1OoNVCufGSpDcaW9ji59xglXeU9xv9oi3SgK8Zlpdb+zcvVsnJo2MUPr5QPmrsLyZk/LJ6dGNQ==" />
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=ffproddictafoule;AccountKey=dfAILxZIF7DL1OoNVCufGSpDcaW9ji59xglXeU9xv9oi3SgK8Zlpdb+zcvVsnJo2MUPr5QPmrsLyZk/LJ6dGNQ==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=ffproddictafoule;AccountKey=dfAILxZIF7DL1OoNVCufGSpDcaW9ji59xglXeU9xv9oi3SgK8Zlpdb+zcvVsnJo2MUPr5QPmrsLyZk/LJ6dGNQ==" />
    <add name="Entities" connectionString="metadata=res://*/DAL.Model.csdl|res://*/DAL.Model.ssdl|res://*/DAL.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ns305162.ip-94-23-216.eu;initial catalog=ff-prod-db-dictafoule;persist security info=True;user id=ff-prod-usr-dictafoule;password=Darrtous91138;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SPEECHMATICS_API_URL" value="https://api.speechmatics.com/v1.0" />
    <add key="SPEECHMATICS_LOGIN" value="23702" />
    <add key="SPEECHMATICS_API_PASSWORD" value="MmFkNDUyOTMtMzZlNC00NDQyLTgyOTEtNTJiZWFiMTZjY2Rl" />
    <add key="SPEECHMATICS_LANGUAGE" value="fr" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>